body{
    box-sizing: border-box;
    background-image: url('./components/background.jpg');
    color: white;
    font-family: 'DM Sans', sans-serif;
}
.load{
   text-align: center;
   margin-top: 300px;
}
.title{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 900;
    color: white;
}
.container{
    width: 50%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 25%;
    padding: 20px;
  
}
.content{
    margin-left: 10px;
    margin-right: 10px;
}
input[type=radio]{
    width: 15px;
    height: 15px;
}
.btn{
    width: 80px;
    height: 35px;
    float: right;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    transition: all ease .2s;
}
.btn:hover {
    color: black;
    background-color:  white;
    opacity: 0.2;
}
.result{
    text-align: center;
}
.start{
    width: 120px;
    height: 50px;
    cursor: pointer;
    margin-top: 40vh;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    transition: all ease .2s;
}
.start:hover {
    color: black;
    background-color:  white;
    opacity: 0.2;
}