body{
    font-family: 'Roboto', sans-serif;
}
.load{
   text-align: center;
   margin-top: 300px;
}
.title{
    text-align: center;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 900;
    color: rgb(31, 21, 75);
}
.container{
    width: 50%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: cyan;
    padding: 20px;
  
}
.content{
    margin-left: 10px;
    margin-right: 10px;
}
input[type=radio]{
    width: 15px;
    height: 15px;
}
.btn{
    width: 80px;
    height: 35px;
    float: right;
    cursor: pointer;
    background-color: rgb(26, 105, 53);
    color: white;
    border: 1px solid rgb(26, 105, 53);
    border-radius: 2px;
    transition: all ease .2s;
}
.btn:hover {
    background-color:  rgb(16, 63, 33);
}
.result{
    text-align: center;
}